/*!
 *  Grove v2.1
 *
 *  Copyright 2013 HackerThemes (Alexander Rechsteiner)
 *  http://hackerthemes.com
 *
 */
body {
  font-family: 'Open Sans', sans-serif;
  color: #404b55;
  background-color: #feffff;
}
a {
  color: #2b4358;
}
a:hover {
  color: #4b5c6d;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 24px;
  line-height: 32px;
}
h2,
h3 {
  font-size: 18px;
  line-height: 23px;
}
h4,
h5,
h6 {
  font-size: 14px;
}
hr {
  border-top-color: #e0e3e6;
}
.glyphicons i:before {
  color: #979797;
}
.glyphicons.table {
  width: 0px;
}
body {
  padding-top: 14px;
  line-height: 23px;
}
.masthead {
  height: auto;
  min-height: 57px;
  position: relative;
}
.masthead #logo {
  display: block;
  float: left;
}
.widewrapper {
  background-repeat: repeat-x;
  background-color: #feffff;
  -webkit-box-shadow: inset 1px 3px 1px -2px #d4d3d3;
  -moz-box-shadow: inset 1px 3px 1px -2px #d4d3d3;
  box-shadow: inset 1px 3px 1px -2px #d4d3d3;
}
.lt-ie9 .widewrapper {
  background-image: url('../img/bg_white.html');
}
.widewrapper.pagetitle {
  background-color: #b7e5dc;
  -webkit-box-shadow: inset 1px 3px 1px -2px #a6c8c1;
  -moz-box-shadow: inset 1px 3px 1px -2px #a6c8c1;
  box-shadow: inset 1px 3px 1px -2px #a6c8c1;
}
.lt-ie9 .widewrapper.pagetitle {
  background-image: url('../img/bg_lightblue_title.html');
}
.widewrapper.weak-highlight {
  background-color: #fafafa;
  -webkit-box-shadow: inset 1px 3px 1px -2px #cbcbcb;
  -moz-box-shadow: inset 1px 3px 1px -2px #cbcbcb;
  box-shadow: inset 1px 3px 1px -2px #cbcbcb;
}
.lt-ie9 .widewrapper.weak-highlight {
  background-image: url('../img/bg_lightgrey.html');
}
.widewrapper.strong-highlight {
  background-color: #b7e5dc;
  -webkit-box-shadow: inset 1px 3px 1px -2px #a0d3c9;
  -moz-box-shadow: inset 1px 3px 1px -2px #a0d3c9;
  box-shadow: inset 1px 3px 1px -2px #a0d3c9;
}
.lt-ie9 .widewrapper.strong-highlight {
  background-image: url('../img/bg_lightblue.html');
}
.widewrapper.footer {
  background-color: #2b4358;
  color: #ffffff;
  -webkit-box-shadow: inset 1px 3px 1px -2px #202a32;
  -moz-box-shadow: inset 1px 3px 1px -2px #202a32;
  box-shadow: inset 1px 3px 1px -2px #202a32;
}
.lt-ie9 .widewrapper.footer {
  background-image: url('../img/bg_darkblue.html');
}
div.pagetitle,
.calltoaction {
  color: #404b55;
}
div.pagetitle h1,
.calltoaction h1 {
  color: #404b55;
}
div.pagetitle {
  padding: 26px;
}
div.pagetitle h1 {
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  float: left;
}
div.pagetitle h1 span.category {
  font-weight: 600;
}
.pagetitle-dropdown {
  float: right;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .sidecolumn {
    padding-top: 50px;
  }
}
.calltoaction {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
}
.calltoaction .btn {
  margin: 0 10px;
}
.copyright {
  color: #b7c8d6;
  background-color: #243a4d;
  font-size: 12px;
  font-weight: 600;
  padding: 7px 0 7px 11px;
}
.copyright p {
  margin: 0;
}
footer {
  font-size: 13px;
  line-height: 20px;
}
footer h4 {
  font-size: 14px;
  font-weight: 600;
}
footer .grove-list {
  font-size: 12px;
  font-weight: 600;
  margin-top: -4px;
  padding-left: 15px;
}
footer .grove-list li {
  margin-top: 0;
  margin-bottom: 0;
}
footer .grove-list li a {
  color: #ffffff;
}
footer .grove-list li:before {
  border-width: 3px 6px;
  left: -14px;
  top: 14px;
}
footer .glyphicons i:before {
  font-size: 24px;
  color: #ffffff;
}
footer .glyphicons:hover {
  cursor: pointer;
}
footer .glyphicons:hover i:before {
  color: #9db5c8;
}
footer .indent30 {
  margin-left: 30px;
}
@media (max-width: 767px) {
  footer .indent30 {
    margin-left: 0;
  }
}
.row.footer {
  margin-top: 20px;
  margin-bottom: 30px;
}
.container.content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.glyphicons-show {
  margin-top: 50px;
  margin-bottom: 40px;
}
.glyphicons-show .glyphicons {
  margin: 10px;
  margin-top: 25px;
}
.glyphicons-show .glyphicons i:before {
  color: #4b5c6d;
}
.grove-dropdown {
  padding: 3px 0 0 0;
  background-color: #1c242c;
  background-color: rgba(28, 36, 44, 0.85);
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  -webkit-background-clip: none;
  -moz-background-clip: none;
  background-clip: none;
}
.grove-dropdown > li:first-child > a {
  border-top: 1px solid transparent;
}
.grove-dropdown > li:hover {
  background-color: #4a5258;
  background-color: rgba(255, 255, 255, 0.1);
}
.grove-dropdown > li:hover + li > a {
  border-top: 1px solid transparent;
}
.grove-dropdown > li > a {
  border-top: 1px solid #4a5258;
  border-top-color: rgba(255, 255, 255, 0.2);
  line-height: 33px;
  color: #ffffff;
  margin: 0 10px 0 10px;
}
.grove-dropdown > li > a:hover,
.grove-dropdown > li > a:focus {
  color: #ffffff;
  filter: none;
  background-color: transparent;
  background-image: none;
  border-top: 1px solid transparent;
}
.grove-navbar {
  background: none;
  border: none;
  margin-bottom: 7px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.grove-navbar .grove-toggle {
  float: right;
  margin-right: 15px;
  display: none;
  position: relative;
}
@media (max-width: 767px) {
  .grove-navbar .grove-toggle {
    display: block;
  }
}
.grove-navbar .navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}
.grove-navbar .grove-nav {
  max-height: none;
  border-top: none;
}
.grove-navbar .grove-nav .nav {
  margin-bottom: 0;
  float: right;
}
.grove-navbar .grove-nav .nav .caret {
  display: none;
}
.grove-navbar .grove-nav .nav > li {
  float: left;
  margin: 0;
  padding: 13px;
}
.grove-navbar .grove-nav .nav > li.dropdown.open.active > a:focus,
.grove-navbar .grove-nav .nav > li.dropdown.open.active > a:hover {
  background-color: transparent;
  color: #2b4358;
}
.grove-navbar .grove-nav .nav > li:last-child {
  padding-right: 0;
}
.grove-navbar .grove-nav .nav > li.active > a {
  font-weight: bold;
  color: #2b4358;
  background-color: transparent;
}
.grove-navbar .grove-nav .nav > li > a {
  color: #4b5c6d;
  padding: 0;
  text-shadow: none;
}
.grove-navbar .grove-nav .nav > li > a:focus,
.grove-navbar .grove-nav .nav > li > a:hover {
  outline: none;
  background: none;
  color: #2b4358;
}
.grove-navbar .grove-nav .nav .dropdown-menu {
  top: 58px;
  padding: 3px 0 0 0;
  background-color: #1c242c;
  background-color: rgba(28, 36, 44, 0.85);
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  -webkit-background-clip: none;
  -moz-background-clip: none;
  background-clip: none;
}
.grove-navbar .grove-nav .nav .dropdown-menu > li:first-child > a {
  border-top: 1px solid transparent;
}
.grove-navbar .grove-nav .nav .dropdown-menu > li:hover {
  background-color: #4a5258;
  background-color: rgba(255, 255, 255, 0.1);
}
.grove-navbar .grove-nav .nav .dropdown-menu > li:hover + li > a {
  border-top: 1px solid transparent;
}
.grove-navbar .grove-nav .nav .dropdown-menu > li > a {
  border-top: 1px solid #4a5258;
  border-top-color: rgba(255, 255, 255, 0.2);
  line-height: 33px;
  color: #ffffff;
  margin: 0 10px 0 10px;
}
.grove-navbar .grove-nav .nav .dropdown-menu > li > a:hover,
.grove-navbar .grove-nav .nav .dropdown-menu > li > a:focus {
  color: #ffffff;
  filter: none;
  background-color: transparent;
  background-image: none;
  border-top: 1px solid transparent;
}
.grove-navbar .grove-nav .nav .open > a,
.grove-navbar .grove-nav .nav .open > a:focus,
.grove-navbar .grove-nav .nav .open > a:hover {
  background-color: transparent;
}
@media (max-width: 767px) {
  .grove-navbar {
    margin-bottom: 0px;
  }
  .grove-navbar .navbar-header {
    margin-bottom: 12px;
  }
  .grove-navbar .grove-nav .nav {
    float: none;
    margin-top: 0px;
    background-color: #69c7b6;
    padding-top: 6px;
  }
  .grove-navbar .grove-nav .nav .caret {
    display: inline-block;
  }
  .grove-navbar .grove-nav .nav > li {
    float: none;
    padding-left: 26px;
  }
  .grove-navbar .grove-nav .nav > li.dropdown.open.active > a:focus,
  .grove-navbar .grove-nav .nav > li.dropdown.open.active > a:hover {
    background-color: transparent;
    color: #ffffff;
  }
  .grove-navbar .grove-nav .nav > li.open {
    background-color: #51bba9;
  }
  .grove-navbar .grove-nav .nav > li.active a {
    color: #ffffff;
    font-weight: normal;
  }
  .grove-navbar .grove-nav .nav > li > a {
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    padding: 9px 15px;
    margin-bottom: 2px;
  }
  .grove-navbar .grove-nav .nav > li > a:focus,
  .grove-navbar .grove-nav .nav > li > a:hover {
    color: #ffffff;
  }
  .grove-navbar .grove-nav .nav > li .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }
  .grove-navbar .grove-nav .nav .dropdown > a:focus .caret,
  .grove-navbar .grove-nav .nav .dropdown > a:hover .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
  }
  .grove-navbar .grove-nav .nav .dropdown-menu {
    position: inherit;
    float: none;
    top: inherit;
    left: inherit;
    margin: ;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .grove-navbar .grove-nav .nav .dropdown-menu a {
    font-weight: normal;
  }
  .grove-navbar .grove-nav .nav .dropdown-menu > li {
    margin-left: 16px;
  }
  .grove-navbar .grove-nav .nav .dropdown-menu > li:hover {
    background-color: transparent;
  }
  .grove-navbar .grove-nav .nav .dropdown-menu > li:hover > a {
    color: #ffffff;
  }
  .grove-navbar .grove-nav .nav .dropdown-menu > li > a {
    color: #ffffff;
    border-top: 1px solid transparent;
    margin: 0;
    padding: 3px 8px;
  }
}
@media (max-width: 767px) and (min-width: 768px) and (max-width: 979px) {
  .grove-navbar .grove-nav .nav > li {
    margin-left: 20px;
  }
}
.headline {
  margin: 45px 0 45px 0;
  padding: 40px 0 45px 0;
  border-top: #e0e3e6 1px solid;
  border-bottom: #e0e3e6 1px solid;
  text-align: center;
  font-size: 24px;
}
.headline.top {
  margin-top: 15px;
}
.grove-list {
  margin-top: 20px;
  list-style: none;
  padding-left: 25px;
}
.grove-list li {
  margin-bottom: 10px;
}
.grove-list li:before {
  content: "";
  border-color: transparent transparent transparent #d0d5d9;
  border-style: solid;
  border-width: 3px 8px;
  width: 8px;
  display: block;
  left: -20px;
  top: 13px;
  position: relative;
}
.form-control {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 17px;
  font-weight: normal;
}
.form-control:focus {
  border-color: rgba(103, 116, 129, 0.5);
  outline: 0;
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @form-focus-border;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @form-focus-border;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @form-focus-border;
}
label {
  font-weight: normal;
}
.form-group {
  margin-bottom: 11px;
}
.btn-grove-common {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-grove-one {
  color: #feffff;
  background-color: #42505e;
  border-color: #42505e;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#42505e), to(#29313a));
  background-image: -webkit-linear-gradient(top, #42505e, 0%, #29313a, 100%);
  background-image: -moz-linear-gradient(top, #42505e 0%, #29313a 100%);
  background-image: linear-gradient(to bottom, #42505e 0%, #29313a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff42505e', endColorstr='#ff29313a', GradientType=0);
  background-repeat: repeat-x;
  border-color: #252c34;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-grove-one:hover,
.btn-grove-one:focus,
.btn-grove-one:active,
.btn-grove-one.active,
.open .dropdown-toggle.btn-grove-one {
  color: #feffff;
  background-color: #313c46;
  border-color: #29313a;
}
.btn-grove-one:active,
.btn-grove-one.active,
.open .dropdown-toggle.btn-grove-one {
  background-image: none;
}
.btn-grove-one.disabled,
.btn-grove-one[disabled],
fieldset[disabled] .btn-grove-one,
.btn-grove-one.disabled:hover,
.btn-grove-one[disabled]:hover,
fieldset[disabled] .btn-grove-one:hover,
.btn-grove-one.disabled:focus,
.btn-grove-one[disabled]:focus,
fieldset[disabled] .btn-grove-one:focus,
.btn-grove-one.disabled:active,
.btn-grove-one[disabled]:active,
fieldset[disabled] .btn-grove-one:active,
.btn-grove-one.disabled.active,
.btn-grove-one[disabled].active,
fieldset[disabled] .btn-grove-one.active {
  background-color: #42505e;
  border-color: #42505e;
}
.btn-grove-one:hover,
.btn-grove-one:focus {
  background-color: #29313a;
  background-position: 0 -15px;
}
.btn-grove-one:active,
.btn-grove-one.active {
  background-color: #29313a;
  border-color: #252c34;
}
.btn-grove-one .caret {
  border-top-color: #feffff;
}
.btn-grove-one .glyphicons i:before {
  color: #feffff;
}
.btn-grove-two {
  color: #feffff;
  background-color: #69c7b6;
  border-color: #69c7b6;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#69c7b6), to(#42b19d));
  background-image: -webkit-linear-gradient(top, #69c7b6, 0%, #42b19d, 100%);
  background-image: -moz-linear-gradient(top, #69c7b6 0%, #42b19d 100%);
  background-image: linear-gradient(to bottom, #69c7b6 0%, #42b19d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff69c7b6', endColorstr='#ff42b19d', GradientType=0);
  background-repeat: repeat-x;
  border-color: #3fa996;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-grove-two:hover,
.btn-grove-two:focus,
.btn-grove-two:active,
.btn-grove-two.active,
.open .dropdown-toggle.btn-grove-two {
  color: #feffff;
  background-color: #4bbca8;
  border-color: #42b19d;
}
.btn-grove-two:active,
.btn-grove-two.active,
.open .dropdown-toggle.btn-grove-two {
  background-image: none;
}
.btn-grove-two.disabled,
.btn-grove-two[disabled],
fieldset[disabled] .btn-grove-two,
.btn-grove-two.disabled:hover,
.btn-grove-two[disabled]:hover,
fieldset[disabled] .btn-grove-two:hover,
.btn-grove-two.disabled:focus,
.btn-grove-two[disabled]:focus,
fieldset[disabled] .btn-grove-two:focus,
.btn-grove-two.disabled:active,
.btn-grove-two[disabled]:active,
fieldset[disabled] .btn-grove-two:active,
.btn-grove-two.disabled.active,
.btn-grove-two[disabled].active,
fieldset[disabled] .btn-grove-two.active {
  background-color: #69c7b6;
  border-color: #69c7b6;
}
.btn-grove-two:hover,
.btn-grove-two:focus {
  background-color: #42b19d;
  background-position: 0 -15px;
}
.btn-grove-two:active,
.btn-grove-two.active {
  background-color: #42b19d;
  border-color: #3fa996;
}
.btn-grove-two .caret {
  border-top-color: #feffff;
}
.btn-grove-two .glyphicons i:before {
  color: #feffff;
}
.btn-grove-three {
  color: #feffff;
  background-color: #b8bbbe;
  border-color: #b8bbbe;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-grove-three:hover,
.btn-grove-three:focus,
.btn-grove-three:active,
.btn-grove-three.active,
.open .dropdown-toggle.btn-grove-three {
  color: #feffff;
  background-color: #a3a7ab;
  border-color: #989ca1;
}
.btn-grove-three:active,
.btn-grove-three.active,
.open .dropdown-toggle.btn-grove-three {
  background-image: none;
}
.btn-grove-three.disabled,
.btn-grove-three[disabled],
fieldset[disabled] .btn-grove-three,
.btn-grove-three.disabled:hover,
.btn-grove-three[disabled]:hover,
fieldset[disabled] .btn-grove-three:hover,
.btn-grove-three.disabled:focus,
.btn-grove-three[disabled]:focus,
fieldset[disabled] .btn-grove-three:focus,
.btn-grove-three.disabled:active,
.btn-grove-three[disabled]:active,
fieldset[disabled] .btn-grove-three:active,
.btn-grove-three.disabled.active,
.btn-grove-three[disabled].active,
fieldset[disabled] .btn-grove-three.active {
  background-color: #b8bbbe;
  border-color: #b8bbbe;
}
.btn-grove-three .caret {
  border-top-color: #feffff;
}
.btn-grove-three .glyphicons i:before {
  color: #feffff;
}
.btn .glyphicons {
  padding-left: 25px;
}
.btn .glyphicons i:before {
  font-size: 19px;
  top: -6px;
}
.btn-xs .glyphicons {
  padding-left: 15px;
}
.btn-xs .glyphicons i:before {
  font-size: 13px;
  top: -2px;
}
.btn-sm .glyphicons {
  padding-left: 23px;
}
.btn-sm .glyphicons i:before {
  font-size: 18px;
  top: -4px;
}
.btn-lg {
  font-size: 14px;
}
.btn-lg .glyphicons {
  padding-left: 26px;
}
.btn-lg .glyphicons i:before {
  font-size: 23px;
  top: -8px;
}
.btn-xlg {
  padding: 18px 22px;
  font-size: 15px;
  line-height: normal;
  border-radius: 3px;
  letter-spacing: 2px;
}
.btn-xlg .glyphicons {
  padding-left: 23px;
}
.btn-xlg .glyphicons i:before {
  font-size: 24px;
  top: -9px;
}
.btn-bold {
  font-weight: 600;
  text-transform: uppercase;
}
.btn-group .dropdown-menu.grove-dropdown {
  background-color: #151b20;
  background-color: rgba(28, 36, 44, 0.9);
  margin-top: -1px;
}
#layerslider {
  color: white;
}
#layerslider div.large-caption {
  font-size: 34px;
}
#layerslider div.large-caption p {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 2px 0 0 0;
  line-height: 48px;
  padding: 0 13px 0 13px;
}
div.showroom {
  padding-top: 30px;
  padding-bottom: 30px;
}
div.showroom-controls {
  background: url(../img/showroom-bg.png);
  margin-bottom: 12px;
  height: 24px;
}
div.showroom-controls i.verticalSeparator:before {
  content: "|";
  color: #dadada;
  font-weight: normal;
  font-style: normal;
}
div.showroom-controls div.links {
  background: #feffff;
  font-weight: 600;
  padding-right: 10px;
  float: left;
}
.widewrapper.weak-highlight div.showroom-controls div.links {
  background: #fafafa;
}
div.showroom-controls div.controls {
  float: right;
  background-color: white;
  padding: 0 0 0 10px;
}
.widewrapper.weak-highlight div.showroom-controls div.controls {
  background: #fafafa;
}
div.showroom-controls div.controls a {
  display: block;
  float: left;
  width: 20px;
  height: 21px;
}
div.showroom-controls div.controls a.left {
  background-image: url(../img/showroom-left.png);
}
div.showroom-controls div.controls a.right {
  background-image: url(../img/showroom-right.png);
  margin-left: 5px;
}
div.showroom-controls a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
div.showroom-controls a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.showroom-item {
  margin-bottom: 20px;
}
.showroom-item .image {
  position: relative;
}
@media (max-width: 767px) {
  .showroom-item .image {
    width: 263px;
    margin: auto;
  }
}
.showroom-item .image .overlay {
  position: absolute;
  left: 0;
  right: 0px;
  top: 0px;
  bottom: 0;
  opacity: 0;
  display: hidden;
  background-color: #000000;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  overflow: hidden;
}
@media (max-width: 767px) {
  .showroom-item .image .overlay {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.75;
    display: block;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.showroom-item .image .overlay .glyphicons {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  margin-top: -16px;
  margin-left: -16px;
}
.showroom-item .image .overlay .glyphicons i:before {
  font-size: 30px;
  color: #ffffff;
}
.showroom-item .image .overlay div.name {
  color: #fff;
  position: absolute;
  bottom: -25px;
  right: 10px;
  padding: 5px;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .showroom-item .image .overlay div.name {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 5px;
  }
}
.showroom-item .image:hover .overlay {
  opacity: 0.75;
}
.showroom-item .image:hover div.name {
  bottom: 5px;
}
.showroom-item.blog-item .content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 0px;
}
.showroom-item.blog-item .content h3 a {
  color: #404b55;
}
.showroom-item.blog-item .content span.meta {
  display: block;
}
.showroom-item.blog-item .content span.preview {
  display: block;
  margin-top: 5px;
}
.showroom-item.blog-item .content a.more {
  margin-top: 16px;
  display: block;
}
div.carousel.testimonials {
  line-height: inherit;
}
.testimonial-item {
  margin-bottom: 40px;
}
.testimonial-item .bubble {
  border: #dcdcdc 1px solid;
  padding: 14px 12px 30px 12px;
  position: relative;
}
.testimonial-item .bubble:before,
.testimonial-item .bubble:after {
  content: "";
  display: block;
  position: absolute;
  border-style: solid outset;
  width: 0;
}
.testimonial-item .bubble:before {
  border-width: 33px 0 0 33px;
  bottom: -33px;
  left: 40px;
  border-color: #dcdcdc transparent;
}
.testimonial-item .bubble:after {
  border-width: 33px 0 0 33px;
  bottom: -30px;
  left: 39px;
  border-color: #fff transparent;
}
.testimonial-item .client {
  font-size: 12px;
  font-weight: 600;
  float: left;
  margin-left: 85px;
  margin-top: 5px;
}
@media (max-width: 767px) {
  div.our-clients .clients {
    text-align: center;
  }
}
div.our-clients .clients .client {
  float: left;
  width: 285px;
  height: 112px;
  line-height: 112px;
  text-align: center;
  border: 1px solid #dce0e3;
  border-left: none;
}
@media (min-width: 980px) and (max-width: 1199px) {
  div.our-clients .clients .client {
    width: 235px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  div.our-clients .clients .client {
    width: 180px;
  }
  div.our-clients .clients .client img {
    max-height: 70%;
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  div.our-clients .clients .client {
    margin: 15px auto;
    padding-left: 0;
    padding-right: 0;
    float: none;
    border-left: 1px solid #dce0e3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}
div.our-clients .clients .client:first-child {
  border-left: 1px solid #dce0e3;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
div.our-clients .clients .client:last-child {
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
}
div.our-clients .clients .client img,
div.our-clients .clients .client .img-responsive {
  display: inline-block;
  vertical-align: middle;
}
.pricing-plan,
.product-comparison {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.pricing-plan .head,
.product-comparison .head {
  font-size: 24px;
  font-weight: bold;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #42505e;
  background-image: linear-gradient(to bottom, #42505e, #364452);
  color: #feffff;
  position: relative;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-box-shadow: 0 1px 1px -1px @gradient-one-shadow;
  -moz-box-shadow: 0 1px 1px -1px @gradient-one-shadow;
  box-shadow: 0 1px 1px -1px @gradient-one-shadow;
}
.pricing-plan .head.alternative,
.product-comparison .head.alternative {
  background-color: #69c7b6;
  background-image: linear-gradient(to bottom, #69c7b6, #51bba9);
  color: #feffff;
  -webkit-box-shadow: 0 1px 1px -1px @pricing-head-shadow;
  -moz-box-shadow: 0 1px 1px -1px @pricing-head-shadow;
  box-shadow: 0 1px 1px -1px @pricing-head-shadow;
}
.pricing-plan .head.alternative .ribbon,
.product-comparison .head.alternative .ribbon {
  background-color: #42505e;
  background-image: linear-gradient(to bottom, #42505e, #364452);
  color: #feffff;
}
.pricing-plan .head.alternative .ribbon:after,
.product-comparison .head.alternative .ribbon:after {
  border-color: transparent #69c7b6 transparent transparent;
}
.pricing-plan .head.alternative .ribbon:before,
.product-comparison .head.alternative .ribbon:before {
  border-color: #404b55 #404b55 transparent transparent;
}
.pricing-plan .head .ribbon,
.product-comparison .head .ribbon {
  position: absolute;
  height: 25px;
  background-color: #69c7b6;
  background-image: linear-gradient(to bottom, #69c7b6, #51bba9);
  font-size: 14px;
  color: #feffff;
  letter-spacing: 1px;
  padding: 0 27px 0 10px;
  top: 12px;
  left: -5px;
  line-height: 23px;
}
.pricing-plan .head .ribbon:after,
.product-comparison .head .ribbon:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 13px 10px;
  border-style: solid;
  border-color: transparent #42505e transparent transparent;
  display: block;
  width: 0;
}
.pricing-plan .head .ribbon:before,
.product-comparison .head .ribbon:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0px;
  border-width: 2px 3px;
  border-style: solid;
  border-color: #2d414f #2d414f transparent transparent;
  display: block;
  width: 0;
}
.pricing-plan ul.details {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0 solid #e0e3e6;
  border-width: 1px 1px 0 0;
}
.pricing-plan ul.details li {
  border: 0 solid #e0e3e6;
  border-width: 0 0 1px 1px;
  border-collapse: collapse;
  height: 45px;
  line-height: 45px;
}
.pricing-plan ul.details li.price {
  font-size: 30px;
  font-weight: bold;
  height: 65px;
  line-height: 65px;
  background-image: linear-gradient(to bottom, #fafafa, #f3f2f2);
}
.pricing-plan ul.details li.price .small {
  font-size: 12px;
}
.pricing-plan ul.details li.buy {
  height: 100px;
  line-height: 100px;
}
#map-canvas {
  margin: 0;
  padding: 0;
  height: 480px;
}
#map-canvas img {
  max-width: none;
}
#contact-form button {
  float: right;
  margin: 10px 0 0 0;
}
#contact-details.with-margin {
  margin-top: 56px;
}
#contact-details .detail-block {
  margin-bottom: 26px;
}
#contact-details .detail-block h3 {
  margin-bottom: 12px;
}
#contact-details .info-block {
  margin-bottom: 30px;
}
#contact-details .info-block .glyphicons {
  float: left;
}
#contact-details .info-block .glyphicons i:before {
  top: 5px;
  left: 5px;
  color: #8a8a8a;
}
#contact-details .info-block .info {
  margin-left: 50px;
}
#contact-details .info-block .info h5 {
  margin-bottom: 0;
  font-weight: 600;
}
#contact-details .info-block .info.business-hours p {
  margin: 0;
}
.row.content {
  margin-top: 50px;
  margin-bottom: 50px;
}
.leadimage {
  margin-bottom: 20px;
}
.blog-post header {
  margin-bottom: 8px;
}
.blog-post header h2.title {
  display: inline-block;
  margin-top: 10px;
}
.blog-post header h2.title a {
  color: #404b55;
}
.blog-post header .comment-count {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.blog-post header .comment-count a {
  color: #404b55;
}
.blog-post header .comment-count .glyphicons i:before {
  font-size: 30px;
  color: #e0e0e0;
  left: 10px;
  top: -8px;
}
.blog-post header .comment-count:hover .glyphicons i:before {
  color: #d0d5d9;
}
.blog-post .meta {
  font-weight: 600;
  margin-top: 20px;
}
.blog-post .btn.readmore {
  margin-top: 30px;
  margin-bottom: 0;
}
#comments button {
  float: right;
  margin: 10px 0 0 0;
}
#comments .reply-icon {
  float: left;
  width: 60px;
  text-align: right;
}
#comments .reply-icon .glyphicons i:before {
  left: 10px;
  color: #e0e0e0;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
#comments .comment {
  padding: 6px 9px 9px 9px;
  border: 1px #e0e3e6 solid;
  margin: 15px 0 15px 0;
}
#comments .comment.reply {
  margin-left: 70px;
}
#comments .comment .avatar {
  float: left;
  margin-top: 5px;
}
#comments .comment .content {
  margin-left: 60px;
}
#comments .comment .content .author {
  font-weight: 600;
  margin-bottom: 0;
}
#comments .comment .content .text {
  display: block;
  margin-top: 5px;
}
.blog-sidecolumn {
  padding-top: 50px;
}
.widget {
  margin: 0 0 30px 0;
}
.search-form input::-webkit-input-placeholder {
  color: #404b55;
}
.search-form input:-moz-placeholder {
  color: #404b55;
}
.search-form input::-moz-placeholder {
  color: #404b55;
}
.search-form input:-ms-input-placeholder {
  color: #404b55;
}
.tags-list {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.tags-list li {
  float: left;
  padding: 5px 9px;
  margin: 0 12px 13px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #e2e5e7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tags-list li a {
  color: #404b55;
}
.tags-list li:hover {
  background-color: #cad2d7;
}
ul.paging {
  list-style: none;
  float: right;
}
ul.paging li {
  float: left;
  width: 25px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid #e0e3e6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
ul.paging li a {
  color: #404b55;
}
ul.paging li.active {
  background-color: #4b5c6d;
}
ul.paging li.active a {
  color: #ffffff;
}
.row.feature-box {
  margin-top: 100px;
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .row.feature-box {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
.feature {
  margin-top: 34px;
  margin-bottom: 34px;
}
.feature h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.feature .icon {
  width: 50px;
  height: 50px;
  border: 1px #d0d5d9 solid;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.feature .icon .glyphicons i:before {
  font-size: 26px;
  left: 14px;
  top: 5px;
}
.feature .text {
  margin-left: 70px;
}
.feature .glyphicons i:before {
  font-size: 23px;
  left: 3px;
  top: -9px;
  margin-left: -3px;
  float: left;
}
.large-features {
  border-top: 1px #e0e3e6 solid;
}
.large-features .feature {
  border-bottom: 1px #e0e3e6 solid;
  margin: 30px 0 30px 0;
}
.large-features .feature h3 {
  font-size: 18px;
  font-weight: 600;
}
.large-features .feature h3.with-icon {
  margin: 0 0 15px 25px;
}
.large-features .feature div.description {
  margin-top: 30px;
}
.large-features .feature div.description.special-margin {
  margin-top: 55px;
}
@media (max-width: 767px) {
  .large-features .feature div.description {
    margin-top: 55px;
    margin-bottom: 55px;
  }
}
.large-features .feature div.image {
  text-align: center;
}
.large-features .feature div.image img {
  display: inline-block;
}
@media (max-width: 767px) {
  .large-features .feature div.image {
    margin-top: 20px;
  }
}
.large-features .glyphicons i:before {
  font-size: 38px;
  left: 3px;
  top: -20px;
  margin-left: -25px;
}
.launch-project a {
  margin-top: 20px;
  float: right;
  text-transform: none;
}
.progress.grove-progress {
  background-image: none;
  background-color: #dae2e9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.progress.grove-progress .progress-bar {
  font-size: 12px;
  background-image: none;
  background-color: #a3dacf;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
  filter: none;
}
.our-skills .grove-progress {
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .team-member {
    margin-bottom: 30px;
  }
}
.team-member .description {
  padding: 5px 20px;
  background-color: #dce2e7;
}
.team-member .social .glyphicons {
  height: 36px;
  margin: 5px 7px 0 0;
}
.team-member .social .glyphicons i:before {
  font-size: 35px;
  color: #293540;
}
.team-member .social .glyphicons:hover i:before {
  color: #1c242c;
}
.login {
  padding-top: 60px;
  text-align: center;
}
.login .login-icons {
  height: 95px;
  padding: 20px 0 25px 0;
}
.login .login-icons .glyphicons {
  margin-right: 20px;
  margin-left: 20px;
}
.login .login-icons .glyphicons i:before {
  font-size: 48px;
  color: #4b5c6d;
}
.login .login-icons .glyphicons:hover {
  cursor: pointer;
}
.login .login-icons .glyphicons:hover i:before {
  color: #2b4358;
}
.login .login-hr {
  background: url(../img/showroom-bg.png);
  margin-bottom: 12px;
  height: 24px;
}
.login .login-hr span {
  background-color: #feffff;
  padding: 0 10px 0 10px;
  font-style: italic;
  font-weight: 600;
  color: #404b55;
}
.login form {
  padding: 40px 0;
  text-align: left;
}
.login button.btn {
  margin: 10px 0 0 0;
  float: right;
}
.e404 {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 130px;
}
.e404 h1 {
  font-size: 140px;
  letter-spacing: 15px;
  font-weight: 700;
  line-height: 160px;
}
.e404 p {
  font-size: 30px;
  font-weight: 700;
  line-height: 55px;
}
.faq .question {
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 1px solid #e0e3e6;
}
.faq .question .faq-toggle {
  font-size: 14px;
  font-weight: 600;
  color: #404b55;
}
.faq .question .faq-toggle:focus,
.faq .question .faq-toggle:hover {
  outline: none;
  text-decoration: none;
}
.faq .question .faq-toggle:before {
  margin-right: 17px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  content: "+";
  bottom: -2px;
}
.faq .question .faq-toggle.open:before {
  content: "−";
}
.faq .question .answer {
  padding-top: 15px;
}
.faq .question:first-child {
  border-top: none;
}
.product-comparison {
  margin-top: 60px;
  margin-bottom: 60px;
}
.product-comparison .captions ul,
.product-comparison .data ul {
  padding: 0;
  list-style: none;
}
.product-comparison .captions ul li,
.product-comparison .data ul li {
  border-top: 1px #e0e3e6 solid;
  overflow: hidden;
  height: 64px;
}
.product-comparison .captions ul li:first-child,
.product-comparison .data ul li:first-child {
  border-top: none;
}
@media (max-width: 979px) {
  .product-comparison .captions,
  .product-comparison .data {
    margin-bottom: 30px;
  }
}
@media (max-width: 979px) {
  .product-comparison {
    margin-bottom: 30px;
  }
}
.product-comparison .captions {
  text-align: left;
  margin-top: 113px;
  padding-right: 0;
}
.product-comparison .captions ul {
  border: 1px #e0e3e6 solid;
  border-right: none;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.product-comparison .captions ul li {
  padding: 20px 14px;
}
.product-comparison .data {
  padding-right: 0;
  padding-left: 0;
}
.product-comparison .data ul {
  border-top: 1px #e0e3e6 solid;
  border-bottom: 1px #e0e3e6 solid;
}
.product-comparison .data ul li {
  padding-left: 15px;
  padding-right: 15px;
}
.product-comparison .data ul li span {
  background-color: #faf8f8;
  padding: 21px 14px;
  display: block;
  height: 64px;
  font-weight: 600;
}
.product-comparison .data ul li span .glyphicons {
  padding: 6px 0 11px 21px;
}
.product-comparison .data ul li span .glyphicons i:before {
  color: #404b55;
}
@media (max-width: 979px) {
  .product-comparison .data {
    padding-right: 15px;
  }
  .product-comparison .data ul {
    border-right: 1px #e0e3e6 solid;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
  }
  .product-comparison .data ul li {
    padding-right: 0;
  }
  .product-comparison .data ul li:last-child span {
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
  }
}
.product-comparison .data.last {
  padding-right: 15px;
}
.product-comparison .data.last ul {
  border-right: 1px #e0e3e6 solid;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.product-comparison .data.last ul li {
  padding-right: 0;
}
.product-comparison .data.last ul li:last-child span {
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.product-comparison .data.last .header {
  padding-right: 0px;
}
.product-comparison .data.highlighted ul li span {
  background-color: #eceef0;
}
.product-comparison .header {
  padding-left: 15px;
  padding-right: 15px;
}
.product-comparison .header .head.height-fix {
  height: 113px;
}
.product-comparison .header .head.two-liner {
  padding-top: 27px;
  line-height: 30px;
}
@media (max-width: 979px) {
  .product-comparison .header {
    padding-right: 0px;
  }
}
.product-comparison .header span {
  display: block;
  border-left: 1px solid transparent;
}
.product-comparison .disclaimer {
  text-align: left;
  padding: 15px;
}
.product-comparison .disclaimer .glyphicons {
  float: left;
  margin-top: 5px;
}
.product-comparison .disclaimer .text {
  margin-left: 40px;
}
